body{
  background-size: 20px 20px;
  background-image: linear-gradient(90deg, #3d3d3d 1px, transparent 0px), linear-gradient(#3d3d3d 1px, transparent 0px); 
  background-color: #292929;
  color: whitesmoke;
}

.navbar{
  height:100px;
  padding :20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-btn {
  margin: 0.7rem;
  padding: 1rem;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
}

.menu-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: black;
  background-color: rgb(194, 229, 239);
}

#resume{
  border: 3px solid whitesmoke;
  padding: 0.5rem;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
}

#resume:hover{
  border: 2px solid #555;
  box-shadow: 10px 10px 2px rgb(78, 78, 78);
}

.main {
  display: flex;
  justify-content: space-around;
}

.mainitems {
  padding: 2px;
}


.hero {
  width:90%;
}

.main-header{
  margin-left: 15vh;
}

.header1{
  margin-top: 100px;
  font-size: 20px;
  font-weight: 200;
}

.header2{
  margin-top: 10px;
  font-size: 70px;
  font-weight: bold;
}

.header3{
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.header4{
  margin-top: 10px;
  line-height: 22px;
  font-size: small;
  font-weight: 200;
}

.header5{
  margin-top: 30px;
}

.checkout{
  border: 3px solid whitesmoke;
  padding : 8px;
  border-radius: 5px;
}

.about{
  margin-top: 20rem;
  margin-left: 7rem;
  font-weight: bold;
}

.about-heading{
  font-size: 2rem;
  font-weight: bold;
}

.about-content{
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 100;
  font-weight: 200;
  display: flex;
}

.about-content > div{
  width: 50%;
}

.profilepic{
  margin-top: 10px;
  margin-right: 5px;
  background-image: url("HPS_8698.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.experience{
  margin-top: 20rem;
  margin-left: 7rem;
  font-weight: bold;
}

.experience-heading{
  font-size: 2rem;
  font-weight: bold;
}

.experience-content{
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 100;
  font-weight: 200;
  display: flex;
}

.experience-accordion{
  width:40%;
  cursor: pointer;
}

.experience-accordion > div {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5rem;
  margin-bottom: 0.3rem;
  border-radius: 3rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(200, 200, 200, 0.2));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-accordion-content {
  width: 99%;
}

.work{
  margin-top: 20rem;
  margin-left: 7rem;
  font-weight: bold;
}

.work-heading{
  font-size: 2rem;
  font-weight: bold;
}

.work-content{
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 100;
  font-weight: 200;
  display: flex;
}

.contact{
  margin-top: 20rem;
  margin-left: 7rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.contact-heading{
  font-size: 2rem;
  font-weight: bold;
}

.contact-content{
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 100;
  font-weight: 200;
  display: flex;
}

.boldy {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav logo {
  
}